.block{
    display: flex;
    flex-direction: column;

}

.btn{
    line-height: 0.7;
}

.group_container{
    margin: 30px 0px 16px 0px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.item_container{
    display: flex;
    margin-left: 32px;
}

.item_name{
    padding-top: 6px;
}

.centroid_container{
    display: flex;
    flex-flow: row;
}

.centroid_name{
    padding-top: 6px;
}